<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="ion-padding">
    <div class="container shadow ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <p class="title-page ion-no-margin">Class List</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input label="Search by name" label-placement="floating" (input)="onInput($event)" fill="outline"
              placeholder="Search by name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- <div class="resultContainer" *ngIf="booking$ | async as data"> -->
              <div *ngFor="let item of booking()">
                <app-class-card [booking]="item" />
              </div>
              
            <!-- </div> -->
            <!-- <div *ngIf="(booking$ | async) === null">
              Loading...
            </div>

            <div *ngIf="(booking$ | async) === undefined">
              An error has occured
            </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>