<div class="card-container shadow">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-items-center">
        <div class="center">
          <div class="circle center">
            <ion-icon name="flask-outline" slot="start"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col size="10">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card-title>{{ tutor.first_name }} {{ tutor.last_name }}</ion-card-title>
            </ion-col>
            <ion-col size="12">
              <ion-label>
                <h2>Email</h2>
                <p>{{ tutor.email }}</p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                <h2>Phone</h2>
                <p>{{ tutor.phone }}</p>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                <h2>ID</h2>
                <p>{{ tutor.id }}</p>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                <h2>Speciality</h2>
                <p>{{ tutor.speciality }}</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>