<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center first-page ion-padding ion-margin-vertical shadow">
        <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12"
          class="ion-align-items-center ion-justify-content-center center">
          <div class="image-wrapper">
            <img src="../../../assets/images/image1.jpg" class="rounded-image" />
          </div>
        </ion-col>
        <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12" class="ion-text-align-center center">
          <ion-grid>

            <ion-row>
              <ion-col size="auto">
                <ion-text>
                  <p class="title-page  ion-no-margin">Tutors and students</p>
                </ion-text>
                <p class="text-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto" color="primary">
                <ion-button fill="outline">Tutors</ion-button>
              </ion-col>
              <ion-col size="auto" color="primary">
                <ion-button fill="outline">Students</ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center second-page ion-padding shadow">
        <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12" class="ion-text-align-center center">
          <ion-grid>

            <ion-row>
              <ion-col size="auto">
                <ion-text color="primary-contrast">
                  <p class="title-page  ion-no-margin">Diversity and developing talent</p>
                </ion-text>
                <p class="text-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto" color="primary-contrast">
                <ion-button fill="outline">Our students</ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-col>
        <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12"
          class="ion-align-items-center ion-justify-content-center center">
          <div class="image-wrapper">
            <img src="../../../assets/images/image2.jpg" class="rounded-image" />
          </div>
        </ion-col>
        <div class="div-line"></div>
          <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12"
            class="ion-align-items-center ion-justify-content-center center">
            <div class="image-wrapper">
              <img src="../../../assets/images/image3.jpg" class="rounded-image" />
            </div>
          </ion-col>
          <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12" class="ion-text-align-center center">
            <ion-grid>
  
              <ion-row>
                <ion-col size="auto">
                  <ion-text color="primary-contrast">
                    <p class="title-page  ion-no-margin">Top tutors in almost every field</p>
                  </ion-text>
                  <p class="text-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" color="primary-contrast">
                  <ion-button fill="outline">Staff</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
  
          </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center third-page ion-padding ion-margin-vertical shadow">
        <ion-col size="12"
          class="ion-align-items-center ion-justify-content-center center">
          <div class="image-wrapper">
            <img src="../../../assets/images/image4.jpg" class="rounded-image" />
          </div>
        </ion-col>
        <ion-col size-md="12" class="ion-text-align-center center">
          <ion-grid>

            <ion-row>
              <ion-col size="auto">
                <ion-text color="primary">
                  <p class="title-page  ion-no-margin">Find the best group for you</p>
                </ion-text>
                <p class="text-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto" color="primary">
                <ion-button fill="outline">Booking</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>



    </ion-grid>
  </div>

</ion-content>